
<div class="row">
  <div class="col-lg-6">
    <form [formGroup]="dateForm" >
      <div class="row">
        <h4>Choose Date</h4>
      </div>
      <div class="form-group row">
        <div class="col">
          <input type="number" class="form-control" formControlName="day" (change)="changeDate();">
        </div>
        <div class="col">
          <input type="number" class="form-control" formControlName="month">
        </div>
        <div class="col">
          <input type="number" class="form-control" formControlName="year">
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <form [formGroup]="addMealForm" >
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" formControlName="mealName">
        </div>
        <div class="col">
          <button type="button" [disabled]="!addMealForm.valid" class="btn btn-primary" (click)="addMeal();">Add Meal</button>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="row">
  <div class="col-lg-6" *ngFor="let meal of userMeals; let m = index">
    <div class="table-responsive-lg" >
      <table class="table table-bordered table-hover">
        <thead>
          <th scope="col" colspan="5">{{meal.name}}</th>
          <th scope="col" style="width:20%">
            <!-- <button type="button" class="btn btn-primary btn-md"  [routerLink]="['/meals', meal.id]" 
            [queryParams]="{ mealid: meal.id}">Editeaza</button> -->
            <button type="button" class="btn btn-primary btn-md"(click)="edit(meal);">Editeaza</button>
          </th>
        </thead>
        <thead>
          <th scope="col">#</th>
          <th scope="col">Imagine</th>
          <th scope="col">Aliment</th>
          <th scope="col">Cantitate</th>
          <th scope="col">Calorii</th>
          <th scope="col">Butoane</th>
        </thead>
        <tbody>
          <tr *ngFor="let serving of meal.servings; let i = index">
            <td>
              <h3>{{i+1}}</h3>
            </td>
            <td><img [src]="" class="img-fluid z-depth-1 rounded"> </td>
            <td>{{serving.aliment.name}}</td>
            <td>{{serving.quantity}}</td>
            <td>{{serving.calories}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-md" (click)="deleteItem(serving.id);">X</button>
            </td>
          </tr>
          <tr>
            <td colspan="4">Total</td>
            <td>{{userMeals[m].total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>