<div class="row">
  <div class="col-lg-6 table-responsive-lg">
    <table class="table table-bordered table-hover" *ngIf="userMeal!=undifined">
      <thead>
        <th scope="col" colspan="6">Meal Name</th>
      </thead>
      <thead>
        <th scope="col">#</th>
        <th scope="col">Imagine</th>
        <th scope="col">Aliment</th>
        <th scope="col">Cantitate</th>
        <th scope="col">Calorii</th>
        <th scope="col">Butoane</th>
      </thead>
      <tbody>
        <tr *ngFor="let serving of userMeal.servings; let i = index">
          <td>
            <h3>{{i+1}}</h3>
          </td>
          <td><img [src]="" class="img-fluid z-depth-1 rounded"></td>
          <td>{{serving.aliment.name}}</td>
          <td>{{serving.quantity}}</td>
          <td>{{serving.calories}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-md" (click)="delete();">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <form class="form-group" [formGroup]="searchForm">
    <input id="searchbar" class="form-control" type="text"  name="search" formControlName="searchbar" placeholder="Cauta Aliment">
    <button type="button" class="btn btn-primary btn-md" (click)="mysearch();">Search</button>
    <p id="afisare">Afisare</p>
  </form>
  </div>
</div>