<div class="container">
  <div class="row">
    <div class="table-responsive-lg">
      <table class="table table-bordered table-hover" *ngIf="userMeal!=undefined">
        <thead>
          <th scope="col" colspan="5">Meal Name</th>
          <th scop="col">{{userMeal.id}}</th>
        </thead>
        <thead>
          <th scope="col">#</th>
          <th scope="col">Imagine</th>
          <th scope="col">Aliment</th>
          <th scope="col">Cantitate</th>
          <th scope="col">Calorii</th>
          <th scope="col">Butoane</th>
        </thead>
        <tbody>
          <tr *ngFor="let serving of userMeal.servings; let i = index">
            <td>
              <h3>{{i+1}}</h3>
            </td>
            <td><img [src]="" class="img-fluid z-depth-1 rounded"></td>
            <td>{{serving.aliment.name}}</td>
            <td>{{serving.quantity}}</td>
            <td>{{(serving.quantity/serving.aliment.quantity) * serving.aliment.calories}}</td>
            <td>
              <button type="submit" class="btn btn-danger btn-md" (click)="deleteServing(serving.id);">X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  <div class="row">
    <div  id="searchdiv">
      <div class="addserving">
        <app-addserving [alimentName]="this.aliment" *ngIf="userMeal!=undefined" [mealId]="userMeal.id" (servingAdded)="onAdd();"></app-addserving>
      </div>
      <form class="form-group" [formGroup]="searchForm">
      <input id="searchbar" class="form-control" type="text" (keyup)="mysearch();" name="search" formControlName="searchbar" placeholder="Cauta Aliment">
      <!-- <button type="button" class="btn btn-primary btn-md" (click)="mysearch();">Search</button> -->
      <p id="afisare" (mousedown)="function($event);"></p>
    </form>
    </div>
  </div>
</div>
