.container {
  background-color: white;
  width: 50%;
  align-items: center;
  margin-top: 10%;
  display: flex;
  justify-content: center;
 
}
.container .title{
    padding-bottom: 10%;
}

.col-sm {
  background: rgb(204, 217, 255, 0.5);
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 5%;
}

form{
  width: fit-content;
}